[name="shop"] {
  .content {
    margin: 0 auto;
  }
  .filters {
    gap: var(--xxs);
    margin-bottom: var(--xs);
    .l-button {
      background-color: var(--gray100);
      padding: .8em;
      border-radius: 8px;
      font-size: var(--fs-xxs);
    }
    .active {
      background-color: var(--black);
      color: white;
    }
  }
  .l-card {
    .active {
      background-color: var(--gray300);
    }
  }
}