.l-button {
  line-height: 1.2;
  font-size: var(--fs-xs);
  padding: 1.1em;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  color: inherit;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  .label {
    padding: 0 1.1em;
    font-weight: 300;
  }
  .label:empty {
    padding: 0;
  }
  .icon {
    width: 1em;
    height: 1em;
  }
  .icon:empty{
    width: 0;
    height: 0;
  }
  .icon:empty ~ .label {
    padding: 0;
  }
}
.l-button.hide {
  display: none;
}


/*.l-button .icon ~ .label {*/
/*  padding-right: 0;*/
/*}*/