@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;700&family=Noto+Sans:wght@300;400;700&family=Nunito+Sans:wght@200;300;400;700&display=swap');
:root {
    --transition: .75s cubic-bezier(.2, .6,0, 1);
    --ss: 2vw;
    --sm: 4vw;
    --vs: 5vmin;
    --vm: 10vmin;
    --vl: 13vmin;
    --top-space: 8vmin;
    --max-width: 1330px;
    --fs-xxs: 14px;
    --fs-xs: 16px;
    --fs-s: 1rem;
    --fs-m: 2.6rem;
    --fs-l: 4rem;
    --fs-xl: 5rem;
    --xxs: .55rem;
    --xs: 1.4rem;
    --s: 2.2rem;
    --m: 3rem;
    --l: 5rem;
    --xl: 8rem;
    --thin: #e5e5e5;
    --light-gray: #ddd;
    --w-col: 500px;
    --w-min-content: 120rem;
    --gray: #f7f7f7;
    --gray100: #e8e8e8;
    --gray200: #dbdbdb;
    --gray300: #a6a6a6;
    --gray400: #777;
    --gray500: #3a3a3a;
    --gray900: #151515;
    --black: #1f1f1f;
    --dark: #10080a
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
*, :before, :after {
    box-sizing: border-box;
}

html {
    font-size: clamp(var(--fs-xs), calc((1vw + 1vmin)), 20px);
    line-height: 1.2;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    color: var(--gray500);
    font-size: var(--fs-xs);
}
a {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    color: inherit;
    cursor: pointer;
}
h1, h2, h3 {
    color: var(--gray900);
    font-weight: 400;
    letter-spacing: -0.005em;
    margin-bottom: .5em;
}

.hide{
    display: none;
}

p {
    max-width: 72ch;
    margin-bottom: 1em;
}

.br {
    border-radius: 2px;
}
.gap {
    gap: 10px;
}
.fx {
    display: flex;
    flex-wrap: wrap;
}
.fx-b {
    align-items: flex-end;
}
.jc-r {
    justify-content: flex-end;
}
.jc-sb {
    justify-content: space-between;
}
.content {
    padding: 0 var(--ss);
}
.container {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--vm) var(--ss);
}